.reviewlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.reviewitem {
  width: 300px;
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}
